<!DOCTYPE html>

<link rel="icon" type="image/png" href="/static/icon.ico">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" href="style.css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<html>
<title>Property Value Prediction Tool</title> 

<head>
<link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css" />
  <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
  <div class="header">
    <a>Property Value Prediction Tool</a>
  </div>
</head>

<body>
  <div id="map"></div>

  <div class="fdiv">
    <form action="#" method="post">
    <div class="form">
      <div class="title">Welcome</div>
      <div class="subtitle">Let's value your property!</div>
      <div class="input-container ic1">
        <select id="place" name="place" onchange="myFunc()" class="input">
        <option value="0">SELECT LOCATION</option>
        <option value="dartford">Dartford</option>
        <option value="sevenoaks">Sevenoaks</option>
        <option value="edenbridge">Edenbridge</option>
        <option value="tonbridge">Tonbridge</option>
        <option value="southborough">Southborough</option>
        <option value="royaltonbridgewells">Royal Tonbridge Wells</option>
        <option value="pembury">Pembury</option>
        <option value="snodland">Snodland</option>
        <option value="aylesford">Aylesford</option>
        <option value="kingshill">Kings Hill</option>
        <option value="westmalling">West Malling</option>
        <option value="paddockwood">Paddock Wood</option>
        <option value="maidstone">Maidstone</option>
        <option value="bearsted">Bearsted</option>
        <option value="cranbrook">Cranbrook</option>
        <option value="staplehurst">Staplehurst</option>
        <option value="sheerness">Sheerness</option>
        <option value="minsteronsea">Minster on Sea</option>
        <option value="sittingbourne">Sittingbourne</option>
        <option value="faversham">Faversham</option>
        <option value="brogdale">Brogdale</option>
        <option value="ashford">Ashford</option>
        <option value="kingsnorth">Kingsnorth</option>
        <option value="newromney">New Romney</option>
        <option value="whitstable">Whitstable</option>
        <option value="hernebay">Herne Bay</option>
        <option value="canterbury">Canterbury</option>
        <option value="hythe">Hythe</option>
        <option value="folkestone">Folkestone</option>
        <option value="hawkinge">Hawkinge</option>
        <option value="birchington">Birchington</option>
        <option value="minster">Minster</option>
        <option value="sandwich">Sandwich</option>
        <option value="whitfield">Whitfield</option>
        <option value="dover">Dover</option>
        <option value="deal">Deal</option>
        <option value="ramsgate">Ramsgate</option>
        <option value="broadstairs">Broadstairs</option>
        <option value="margate">Margate</option>
        </select>
        <div class="cut"></div>
        <label for="Location" class="placeholder">Location</label>
      </div>
      <div class="input-container ic2">
        <select id="Bedrooms" name="room" class="input">
          <option value="0">SELECT BEDROOMS</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div class="cut"></div>
        <label for="Bedrooms" class="placeholder">Bedrooms</label>
      </div>
      <div class="input-container ic2">
        <select id="type" name="type" class="input">
          <option value="0">SELECT TYPE OF PROPERTY</option>
          <option value="d">Detached</option>
          <option value="sd">Semi-Detached</option>
          <option value="t">Terraced</option>
          <option value="f">Flat</option>
          <option value="b">Bungalow</option>
        </select>
        <div class="cut cut-short"></div>
        <label for="type" class="placeholder">Type
      </div>
      <button class="submit">submit</button>
    </div>
    </form>
    <div class="push"></div>
  </div>
</div>
</div>
<!-- Site footer -->
<div class="footer">
<div class="content">
  <div class="services">
    <h4>Main</h4>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/index.html">Home</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/breif.html">Brief</a></p>
  </div>
  <div class="social-media">
    <h4>Documentation</h4>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/methodology.html">Methology</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/requirements-elicitation.html">Requirements Elicitation</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/design.html">Design</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/errors.html">Error Tracking</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/testing.html">Testing</a></p>
  </div>
  <div class="links">
    <h4>The Group</h4>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/group-contributions.html">Group Contributions</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/reflections.html">Group Reflections</a></p>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/about-us.html">The Partnership</a></p>
  </div>
  <div class="links">
    <h4>Main Application</h4>
    <p><a href="https://documentation.softwaredevelopmentproject.co.uk/github-repos.html">GitHub Repositories</a></p>
  </div>
</div>
<div class="container-text">
  <small> &copy SDLC</small>
</div>
</div>
</body>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script>
  // initialize the map
  var map = L.map('map').setView([51.2798, 1.0828], 13);

  // load a tile layer
  var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery Â© <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);

  var layerGroup = L.layerGroup().addTo(map);

    function myFunc(){
      var place = document.getElementById("place").value;
      console.log(place);
      layerGroup.clearLayers();

      var longLat = {
        "dartford": [51.4443059, 0.21807],
        "sevenoaks": [51.2745218, 0.1961166],
        "edenbridge": [51.1907598, 0.072979],
        "tonbridge": [51.1889529, 0.2735876],
        "ashford": [51.148555, 0.8722566],
        "aylesford": [51.3093091, 0.4867332],
        "bearsted":[51.2720563, 0.5805457],
        "birchington": [51.3738021, 1.3071248],
        "broadstairs": [51.3586758, 1.4407855],
        "brogdale": [51.3055579, 0.8801132],
        "canterbury": [51.2800275, 1.0802533],
        "cranbrook": [51.0965459, 0.5321089],
        "deal": [51.2239544, 1.4027344],
        "dover": [51.1251275, 1.3134228],
        "faversham": [51.3144088, 0.8911894],
        "folkestone": [51.0791335, 1.1794073],
        "hawkinge": [51.1154427, 1.1637543],
        "hernebay": [51.3719507, 1.1306951],
        "hythe":  [51.0691421, 1.0841634],
        "kingshill": [51.3774552, 0.784425],
        "kingsnorth": [51.1167155, 0.8606184],
        "maidstone": [51.2748258, 0.5231646],
        "margate": [51.3878174, 1.3819699],
        "minster": [51.4217412, 0.8120475],
        "minsteronsea": [51.4168969, 0.808862],
        "newromney": [50.9851198, 0.9426566],
        "paddockwood": [51.1810484, 0.3889964],
        "pembury": [51.1415015, 0.323818],
        "ramsgate": [51.3334726, 1.4196476],
        "royaltonbridgewells": [51.1492065, 0.3078256],
        "sandwich": [51.2752527, 1.3408309],
        "sheerness": [51.4391704, 0.7585715],
        "sittingbourne": [51.3397366, 0.7342319],
        "snodland": [51.3349376, 0.4326668],
        "southborough": [51.1642824, 0.2633735],
        "staplehurst": [51.1636637, 0.5562139],
        "tonbridge": [51.1889529, 0.2735876],
        "westmalling": [51.2875308, 0.404508],
        "whitfield": [51.159063, 1.293465],
        "whitstable": [51.3606286, 1.0240626],
      }
            
      console.log(longLat[place]);
      
      map.flyTo(longLat[place], 11);
      L.marker(longLat[place]).addTo(layerGroup); 
            
      var circle = L.circle(longLat[place], {
        color: '4cc5fa',
        fillColor: 'c0f5f3',
        fillOpacity: 0.1,
        radius: 6000
      }).addTo(layerGroup);
        }
</script>

</html>